<!DOCTYPE html>
<html>
<head>
	<title>Tela de Login</title>
	<link rel="stylesheet" href="css/estilos.css">
<!-- Remova este elemento <script> -->
<!--
<script type="module">
  ...
</script>
-->

<!-- Adicione estas duas linhas no final do elemento <head> -->
	<script type="module" src="js/firebase.js"></script>
	<script type="module" src="js/script.js"></script>
	
</head>
<body>
	<div class="login-container">
		<h1>Tela de Login</h1>
		<form id="login-form">
			<label for="username">Nome de Usuário:</label>
			<input type="text" id="username" name="username" required>

			<label for="password">Senha:</label>
			<input type="password" id="password" name="password" required>

			<input type="submit" value="Entrar">
		</form>

		<button id="google-login-button">Entrar com o Google</button>

	</div>

	<script src="js/script.js"></script>
	
</body>
</html>
