<!DOCTYPE html>
<html>
<head>
	<title>Choose Username</title>
	<link rel="stylesheet" href="/static/css/estilos.css">
	<script type="module" src="js/script.js"></script>
</head>
<body>
	<div class="username-container">
		<h1>Escolha um nome de usuário</h1>
		<form id="username-form">
			<label for="new-username">Nome de Usuário:</label>
			<input type="text" id="new-username" name="new-username" required>
			<input type="submit" value="Salvar">
		</form>
	</div>

	<script src="js/script.js"></script>
</body>
</html>
